body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* spinner color */
.spinnerColor{
  color: #0072B1;
}
/* form style */
.formStyle h2{
  width: fit-content;
  background-color: #0072B1;
  color: #fff;
  border-radius: 5px;
}

.formStyle form label{
  font-weight: 600;
  color: #0072B1;
}

.formStyle form input{
  border: 1.5px #0072B1 solid;
}
.formStyle form input:focus{
  box-shadow: none;
}
.searchResultsStyle button,
.btnStyle button{
  background-color: #0072B1;  
}
.searchResultsStyle button:hover,
.btnStyle button:hover{
  background-color: #0080c6;  
}
/* table style */
.tableStyle thead{
  background-color: #0072B1;
  color: #fff;
}
.tableStyle tbody a{
  color: #0072B1;
  text-decoration: none;
  font-weight: 600;
}
.tableStyle tbody a:hover{
  color: #0080c6;
  text-decoration:underline;
}
/* search results style */
.searchResultsStyle h2{
  color: #0072B1;
}
.searchResultsStyle button a{
  color: #fff;
  text-decoration: none;
}